/* You can add global styles to this file, and also import other style files */
blockquote {
  background: whitesmoke;
  margin: 0;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}